<div lass="container " >
  <div class="row contenedorPrincipal">
    <div class="col contenedorTareas">
      <div>
        <br>
        <br>
        <h1 class="text-center titulos">Tareas Pendientes</h1>
        <ul class="  list-group-numbered ">
          <li *ngFor="let todo of tareaPendiente" class="list-group-item list-group-item-primary itemTarea">{{todo}}
          </li>
        </ul>
      </div>
    </div>
    <div class="col contenedorTareas">
      <form #todoForm name="todoForm">
        <div class="form-group ">
          <h1 class="text-center titulos ">Tareas</h1>
          <div class="input-group-prepend ">
            <input type="text" #todoName name="todoName" class="form-control" placeholder="Añadir tarea" ngModel>
            <input type="text" #todoFecha name="todoFecha" class="form-control" placeholder="Añadir Fecha" ngModel>
            <span class="input-group-text " (click)="guardarTarea(todoName.value + '-' +todoFecha.value);todoForm.reset()"  >
              <i class="material-icons btn btn-outline-primary ">Agregar Tarea</i>
            </span>
          </div>
        </div>
      </form>
      <form #tareaForm name="tareaForm">
        <div class="data list-group-flush ">
          <ul class="list-instyled text-center">
            <li *ngFor="let todo of todoArray" class="list-group-item list-group-item-info itemTarea">{{todo}}
              <br>
              <i (click)="borrarTarea(todo)" class="material-icons btn btn-outline-primary btn-sm">Eliminar</i>
              <i (click)="Completar(todo)" class="material-icons btn btn-outline-primary btn-sm">Completado</i>
              <i (click)="modificar(todo)" class="material-icons btn btn-outline-primary btn-sm">Modificar</i>
              <div class="form-group" *ngIf="this.vmodificar==1">
                <input type="text" #modificarTarea name="modificarTarea" class="form-control" placeholder="Modificar Tarea" ngModel>
                <input type="text" #modificarFecha name="modificarFecha" class="form-control" placeholder="Modificar Fecha" ngModel>
                <span class="input-group-text" (click)="modificarTodo(modificarTarea.value + '-' + modificarFecha.value);" >
                  <i class="material-icons">Modificar</i>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </form>
    </div>
    <div class="col data contenedorTareas">
      <div>
        <br>
        <br>
        <h1 class="text-center titulos">Tareas Completas</h1>
        <div class="row">
          <div class="col">
            <ul class="list-instyled list-group-numbered">
              <li *ngFor="let todo of tareaCompleta" class="list-group-item list-group-item-success itemTarea">{{todo}}
              </li>
            </ul>
          </div>
          <div class="col">
            <ul class="list-group-numbered">
              <li *ngFor="let fecha of fechaCompleta" class="list-group-item itemTareasCompletas">{{fecha | date}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
